body {
  background: #fff;
  padding-top: 80px;
}

a {
  font-family: "Syncopate", sans-serif;
}

p,
h2,
button {
  font-family: "Merriweather", serif;
}

header {
  background: #000;
  width: 100%;
  position: fixed;
  top: 0;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}

.menu h1 a {
  color: #fff;
  font-family: "Peralta", cursive;
}

.menu ul {
  display: flex;
  align-items: center;
  position: relative;
}

.menu ul li {
  margin: auto 1em;
}

.menu ul li a {
  color: #fff;
}

.menu ul li a:hover {
  color: rgba(255, 0, 0, 0.532);
  text-decoration: overline;
}

.menu ul li p {
  color: #fff;
  font-family: "Peralta", cursive;
  font-size: 1.4em;
  cursor: pointer;
}

.menu ul li p:hover {
  color: rgba(255, 0, 0, 0.532);
  text-decoration: overline;
}

.menu ul li ul {
  display: none;
  position: absolute;
  background: #000;
  left: 0;
  width: 8vw;
}

.menu ul li:hover ul {
  display: flex;
  flex-direction: column;
}

.menu ul li ul li {
  margin: 0.4em auto;
}

.homePage {
  background-image: url(../img/background-site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 98.9vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.homePage h1 {
  padding-top: 6.3em;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.763);
  font-family: "Peralta", cursive;
}

.product-list {
  margin: 4em auto;
  display: flex;
  flex-direction: column;
}

.product-list .subtitle {
  text-align: center;
  font-size: 25px;
  margin-top: 4.5em;
  text-transform: uppercase;
}

.product-list .products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: space-between;
}

.product-list .products .products-info {
  width: 25vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
}

.product-list .products .products-info .product-img {
  width: 25vw;
  height: 50vh;
}

.product-list .products .products-info p {
  font-size: 0.89em;
  text-align: center;
}

.product-list .products .products-info h2 {
  font-size: 1.5em;
  margin-top: 0.4em;
}

.product-list .products .products-info .brand {
  width: 5vw;
}

.product-list .products .products-info button {
  width: 23vw;
  height: 5vh;
  background: red;
  color: #fff;
  font-weight: bold;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
}

.product-list .products .products-info button:hover {
  color: #000;
}

footer {
  background: #000;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
}

footer p a {
  color: #fff;
  font-family: "Merriweather", serif;
}

@media (max-width: 700px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }

  .menu ul li p {
    color: #fff;
    font-family: "Peralta", cursive;
    font-size: 1em;
    cursor: pointer;
  }

  .menu ul li ul {
    display: none;
    position: absolute;
    background: #000;
    left: 0;
    width: 15vw;
  }

  .menu ul li ul li a {
    font-size: 0.8em;
  }

  .homePage {
    background-image: url(../img/background-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .homePage h1 {
    padding-top: 5.5em;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.763);
    font-family: "Peralta", cursive;
  }

  .product-list .products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product-list .products .products-info {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
  }
  .product-list .products .products-info .product-img {
    width: 70vw;
  }
  .product-list .products .products-info p {
    font-size: 1em;
    text-align: center;
  }

  .product-list .products .products-info h2 {
    font-size: 1.5em;
    margin-top: 0.4em;
  }

  .product-list .products .products-info .brand {
    width: 15vw;
  }
  .product-list .products .products-info button {
    width: 50vw;
    height: 5vh;
    background: red;
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
  }
}
